@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  animation: Bgcolor 30s infinite;
  transition: all 0.5s ease;
}

@keyframes Bgcolor {
  0% {
    background: linear-gradient(45deg, #00f2ff, #006aff);
  }
  20% {
    background: linear-gradient(45deg, #001aff, #bf00ff);
  }
  40% {
    background: linear-gradient(45deg, #ee00ff, #ff0077);
  }
  60% {
    background: linear-gradient(45deg, #001eff, #ff00dd);
  }
  80% {
    background: linear-gradient(45deg, #a200ff, #006aff);
  }
  100% {
    background: linear-gradient(45deg, #00f2ff, #006aff);
  }
}
.base-container {
  width: 541px;
  padding: 20px;
  height: 50%;
  align-self: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0.1px #111;
}

.logo {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 0.5rem;
  align-items: center;
}

.fa-pen-to-square {
  font-size: 1.5rem;
}

.input-field {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
  margin: auto;
  align-items: center;
}

#add-task {
  padding: 12px 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.1rem;
  background-color: transparent;
  box-shadow: 0px 0px 5px 0.1px #111;
}

::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.1rem;
}

::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.1rem;
}

#button {
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 0px 3px 0.1px #111;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  border-radius: 25px;
}

@media only screen and (max-width: 666px) {
  .base-container {
    width: 300px;
  }
  .input-field {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: auto;
    align-items: center;
    padding: 10px;
  }
  #add-task {
    padding: 8px 20px;
  }
  #button {
    padding: 8px 10px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .base-container {
    width: 250px;
  }
  .input-field {
    flex-wrap: wrap;
  }
  #add-task {
    padding: 8px 10px;
  }
  #button {
    padding: 8px 30px;
  }
}
ul li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(/images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  color: #555;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
}

ul li span:hover {
  background: #edeef0;
}/*# sourceMappingURL=main.css.map */